{% extends "bootstrap/base.html" %}

{% block title %}
    Nameless Mangás
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for ('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <div class="row">
        <div class="col-md-12">
            <nav id="navbar"
                class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-dark bg-dark justify-content-between">

                <div>
                    <a onclick="mostrarPagina()" href="#" role="button" class="btn btn-info">Home</a>
                    <a onclick="mostrarPagina('mangas.html')" href="#" role="button" class="btn btn-info">Mangas</a>
                    <a onclick="mostrarPagina('about.html')" href="#" role="button" class="btn btn-info">About</a>
                </div>

                <div>
                    <a href="#modalLogin" role="button" class="btn btn-primary" data-toggle="modal">Login</a>
                    <a onclick="mostrarPagina('cadastro.html')" role="button" class="btn btn-outline-success">Register</a>
                </div>

            </nav>

        </div>
    </div>
{% endblock %}  

{% block modalLogin %}

    <div class="modal fade" id="modalLogin" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="login" role="document">
            <div id="login" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        Login
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">

                            <label for="exampleInputEmail1">
                                Email address
                            </label>
                            <input type="email" class="form-control" id="emailLogin" required>
                        </div>
                        <div class="form-group">

                            <label for="exampleInputPassword1">
                                Password
                            </label>
                            <input type="password" class="form-control" id="passwordLogin" required>
                        </div>

                        <button type="submit" class="btn btn-success">
                            Login
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

{% endblock %}

    

{% block content %}

<div id="content" class="container">
    {% block page_content %}
    
    {% endblock %}           
</div>

<br><br>

{% endblock %}


{% block footer %}

    <div class="page-footer blue pt-4  navbar-dark bg-dark">
        <div class="row text-center">
            <div class="col-md-4">
                <p >
                    Location: <br>
                    Street: 77 Massachusetts <br> 
                    Ave Cambridge, MA 02139, EUA	
                </p>			
            </div>
            <div class="col-md-4">
                Contact <br>
                Phone: 9999999999 <br>
                E-mail: namelessMangas@email.com

                <div class="footer-copyright text-center py-3">&copy; 2019 Copyright:
                        <a onclick="mostrarPagina('about.html')"  href="#"> Nameless Mangás</a>
                </div>
            </div>
            <div class="col-md-4">
                Social Medias
                <ul class=" list-unstyled">
                    <li>				
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>				
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>				
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                </ul>


            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}


<!-- 

<script>
	$(document).ready( function () {
		mostrarPagina();
	});
	function mostrarPagina(pagina = "principal.html", elemento = "") {
		$("#content").html("");
		$("#content").load(pagina, function() {
			if (elemento){
				$('#'+elemento).toggle();
			}
		});
	}
</script> -->